[submodule "nuttxspace/nuttx"]
	path = nuttxspace/nuttx
	url = https://github.com/apache/incubator-nuttx.git
	branch = releases/10.0
[submodule "nuttxspace/apps"]
	path = nuttxspace/apps
	url = https://github.com/apache/incubator-nuttx-apps
	branch = releases/10.1
